<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}SIWES Hub{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

{% extends "base.html" %}
{% block title %}About{% endblock %}

{% block content %}
<h2>About SIWES Hub</h2>
<p>This platform helps students submit and track SIWES documents securely.</p>
{% endblock %}

</body>
</html>