<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}STUDENTS PROJECT AND SIWES Hub{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

{% extends "base.html" %}
{% block title %}About{% endblock %}

{% block content %}
<h2>About SIWES Hub</h2>
<p>This platform helps students submit and track SIWES documents securely.</p>
<p>In Collabration with GALADIMA & SONS' TECH NIGERIA LTD.</p>
<p>GALADIMA & SON'S TECH NIGERIA LTD. is a forward-thinking organization dedicated to advancing technological skills, creativity, and digital transformation in Nigeria and beyond. The center focuses on providing high-quality training, research, and innovative solutions in areas such as information and communication technology (ICT), computer hardware and software development, digital entrepreneurship, and technical education. By combining practical experience with cutting-edge innovation</p>
{% endblock %}

</body>
</html>